a, a:hover, a:focus, a:active {text-decoration: none !important;
    color: inherit;
}
ol, ul {
	list-style: none;
}
.fix{    
    position: fixed;
    width: 100%;
    border-top: 5px solid #F33A6A;
    top: 0px;
    left: 0px;
    background-color: rgb(243, 243, 243);
    z-index: 7777;
}
.nav{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    height: 60px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.logo-menu{
    width: 15%;
    height: 100%;
}
.logo-image{width: 100%;
    vertical-align: middle;
}
.menu-ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.nav-a{display: -webkit-box;display: -ms-flexbox;display: flex;
    width: 15%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
    font-family: 'BPG ExtraSquare Mtavruli';
    font-size: 12px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.nav-a:hover{background-color: #F33A6A;
color:white;}

.active{
    background-color: #F33A6A;
    color: white;
}
.number{
    margin-left: 200px;
}
.space{
    width:1%;
}
.burger-icon {
    display: none;
}
/* seqcia mt1 */
.container-mt1{
    margin-top: 60px;
}
.text-title{
    font-size: 48px;
    font-family: 'BPG ExtraSquare Mtavruli';
    color: #953553;
}
/* seqcia mt2 */
.container-mt2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
    margin-top: 50px;
}
.cont-mt2-left{
    width: 52%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
}
.logo-menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center;              
}
@-webkit-keyframes example {
    0%   {background-color:rgb(243, 243, 243);}
    50%  {background-color:#953553; }
    100% {background-color:rgb(243, 243, 243);}
  }
@keyframes example {
    0%   {background-color:rgb(243, 243, 243);}
    50%  {background-color:#953553; }
    100% {background-color:rgb(243, 243, 243);}
  }
.mt2-row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.mt2-left-text{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    width: 80%;
    margin-left: 10px;
    margin-top: 20px;
}
.container-mt2-rg{ display: -webkit-box; display: -ms-flexbox; display: flex; 
    width: 45%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* formebi */
.form-fill{width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;    
    background-color: rgb(243, 243, 243);
    height: auto;
    border-radius: 100px;
    padding: 10px;
}
.form-block{
    width: 100%;
    border-radius: 1px;
    border: 1px;
    color: grey;
    border-color: lightgrey;
    background-color: #e8e6e6;
    height: 40px;
    padding: 10px;
    }
.form-block:focus{
    outline: none;
}
.form1{
    width: 90%;
    padding: 10px;
}
.but-send{
    width: 50%;
    border-radius: 25px;
    color: white;
    border: none;	
    background-color: #F33A6A;
    height: 40px;
    margin-bottom: 7px;
}
.icons{
    background: #F33A6A;
    border-radius: 50px;
    color: #ffffff;
    font-size: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center; 
    -webkit-animation-name: example; 
            animation-name: example;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;  
}    
.mt2-left-icon{
    margin-top: 20px;
}
   
.mt2-row{
    border-top: 3px solid #F33A6A;        
}
.head-text1{
    font-family: 'BPG ExtraSquare Mtavruli';
    font-size: 20px;
}
.text22{
    font-size: 14px;
}
.head-text{
    font-family: 'BPG ExtraSquare Mtavruli';
    font-size: 24px;
    font-weight: 900;
}
.zooming{
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
}
.zooming:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}
    
/* seqcia 3 */
.mt-sect3-tex{
    width: 90%;
margin: 20px auto;
}
.ord-text{
    text-align: justify;
    font-size: 14px;
}
/* futeri */
.footer{
    margin-top: 100px;
    border-top: 5px solid #F33A6A;
    background-color: white;
}
.nav1{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    height: 60px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.navigacia1{ 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; width: 80%;
}
.foot-nav{
    width: 15%;
    background-color: #F33A6A;
    text-align: center;
}
.menu1{
    font-family: 'BPG ExtraSquare Mtavruli';
    font-size: 10px; 
    color: white; 
}
.foot-social-icon{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; width: 85%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.foot-fa{
    color: #F33A6A;
    font-size: 30px;
}
.color-change{
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.color-change:hover {
    color: grey;
}
.color-change1{
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.color-change1:hover {
    background-color: grey;
}


/* gundi */
.gundi-section-1{
    margin-top: 60px;
}
.section-gund-1{
    width: 100%;
}
.gundi-picture{
    width: 100%;
}
/* gudi seqcia2 */
.gund-sec2-article{
    width: 90%;
    margin: 30px auto;
}
.gund-pers-blok{
    margin:auto;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 60px;
}
.gund-block{
    margin-top: 20px;
    width: 21%;
}
.gund-pers-pic{
    width: 90%;
    margin:0 auto
}
.techers-pick{
    width: 100%;
}
.gund-pers-icon{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;}
.techers-name{margin: 5px auto;
    font-family: 'BPG ExtraSquare Mtavruli';
    font-size: 14px;
    text-align: center;
    font-weight: 700;
}
.teachers-subject{
    font-size:12px;
    font-weight: 500;
    text-align: center;
}
.t-s-i{
    font-size: 14px;
    color:#F33A6A;
}
.more1{
    width: 100%; text-align: center;
}
.more::after{
	content:' ';
	width:30px;
	height: 2px;
    display: inline-block;
	background-color: #F33A6A;
	vertical-align: middle;
}
.ord-text{
    text-indent:2%
}

/* kursebi */
.kursebi-subject-blok{
    margin:auto;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 60px;
}
.subject-block {
    position: relative;
    margin-top: 20px;
    width: 230px;
    height: auto;
    margin: 10px auto;
}
.kursebi-subjec-pic{
    width: 95%;
    margin:0 auto
}
.subjeck-pick{
    width: 100%;
}
.subject-name{
    margin: 5px auto;
    font-family: 'BPG ExtraSquare Mtavruli';
    font-size: 14px;
    text-align: center;
    font-weight: 700;
}
.kursebi-subject{
    font-size:12px;
    font-weight: 500;
    text-align: center;
}
.kursebi-icon{
    width: 40px;
    height: 40px;
    background-color: #F33A6A;
    position: absolute;
    top: 180px;
    left:10px;
    text-align: center;
    color: #ffffff;
}

.kurs-pers-tex{
    margin-top: 20px;
}
.head-text4{
    font-family: 'BPG ExtraSquare Mtavruli';
    font-size: 20px;
    font-weight: 900;
}
.button{
    width: 150px;
    background-color: #F33A6A;
    color: #ffffff;
    margin:20px auto;
    text-align: center;
    padding: 15px;border-radius: 30px;
    font-family: 'BPG ExtraSquare Mtavruli';
    font-size: 14px;
}
/* contact */
.kontact-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin:100px auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.map-container{display: -webkit-box;display: -ms-flexbox;display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 60%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.sakontaqto-text{ 
    font-family: 'BPG ExtraSquare Mtavruli';
    font-weight: 900;
    font-size: 14px;
}
.contact-heig  {
    font-size: 12px;
} 
.seri{
    color: #F33A6A;
    font-weight: 900;
}
.contact-us-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.form-fil-cont{
    margin-top: 20px;
}
.contac-form1{
    margin-top:15px;
}
.contact-form-block{
    width: 100%;
    resize: none;
    color: grey;
	background-color: rgba(216, 216, 216, 0.644);
    font-size: 16px;
    padding-left: 15px;
	border: 1px;
	border-color: lightgrey;
    border-radius: 1px;
}
.contact-but-send{
    background-color: #F33A6A;
    border-radius: 25px;
    border: 0px;
    color:white;
}

/* responsivi */
@media (max-width: 900px){
    .number{
    display: none;
    }
}
@media (max-width: 768px){
    .menu-ul{
      display: none;
    }
    .nav{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 10px;
    }   
    .burger-icon{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; 
        -webkit-box-pack: right; 
            -ms-flex-pack: right; 
                justify-content: right;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 60px;
        font-size: 30px;
    }
    .logo-menu{
        display: none;
    }
    .menu-ul.open-menu{
        width: 100%;
        display: block;
        background-color: rgb(243, 243, 243); opacity:0.8;
        margin:auto;
        padding: 0px;
    }
    
    .number{
        display:none;
    }
    .space{
        display: none;
    }
    .nav{
        display:block; padding-left: 10px;
    }
    .menu{
        width: 100px;
    }
    .container-mt2{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 10px auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 90%;
        margin-top: 50px;
    }
    .container-mt2-rg{ 
        display: -webkit-box; 
        display: -ms-flexbox; 
        display: flex; 
        margin: 20px auto;
        width: 90%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .cont-mt2-left{
        width: 90%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 20px auto;
    }
    .kontact-container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .map-container{
        width: 80%;
    margin: 20px auto;
    }
    .contact-us-container{
        width: 80%;
        margin: 20px auto;
    }
}
@media (max-width: 480px){
    .icons{
        background: #F33A6A;
        border-radius: 30px;
        color: #ffffff;
        font-size: 16px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
    }
    .head-text1{
        font-size: 16px;
    }
    .cont-mt2-left{
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0px;
    }
    .foot-fa{
        font-size: 20px;
    }
    .foot-nav{
        width: 30%;
    }
    .nav-a{
        width: 26%;
    }
}
#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  background-color: #F33A6A;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  display: block; /* JS toggles this */
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s ease;
}

.animate-on-scroll.fade-in {
  opacity: 1;
  transform: translateY(0);
}



